.menu>.item-list>p, .menu>h2 {
    text-align: center;
}

.coffee-pour-wrapper {
    max-width: 30vw;
}

.coffee-pour {
    overflow: hidden;
    max-width: 90vw;
}

.menu {
    margin-top: 3vh;
}

.menu-title {
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 180%;
}

.vertical-center {
    padding-top: 25%;
}

.header-descr {
    font-size: 120%;
}

.ourcoffee-container {
    margin-top: 10vh;
}

.our-menu {
    font-size: 180%;
}

.item-list {
    font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.larger-font {
    font-size: large;
}

@media only screen and (max-width: 756px){
    .delish-ethical {
        text-align: center;
    }
}